# dependencies
node_modules/

# env files
.env*

# vercel
.vercel/

# next.js
.next/
out/

# misc
.DS_Store
*.pem
.temp/

# debug
npm-debug.log*
yarn-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
